src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="getAllCharacters" doc:id="c09ad9e9-5574-46e3-a2ad-b143e340650c" >
		<db:select doc:name="Select" doc:id="7741f846-d81e-4b74-bcd4-483e0d556259" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM comics;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a861b505-f353-42d9-8d7a-1df2b329d79f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7d750bcf-3fb4-4135-bead-c97bfb382446" message="#[payload]" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="6d13692b-44ca-4e56-b85f-fa191e563d4f" >
				<ee:transform doc:name="Transform Message" doc:id="21aa61de-045b-4715-ada1-aa1bdb585744" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Error Occurred....!!!!"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="0c70abfe-62b5-4039-827f-8f3e6976885a" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="getCharacterByID" doc:id="569c3a20-ff19-44aa-a505-5ee976bf3c7d" >
		<db:select doc:name="Select" doc:id="bc090f96-3372-45e6-8d51-e34dbb2c3491" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM comics WHERE id = :id;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: attributes.uriParams.ID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ba38d895-c13d-404e-a3b7-79b09daffb0b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7bfc1aca-0043-4906-9b52-47381cefcb5b" message="#[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="68438884-984f-4f1f-a173-ad5fbefd0c45" >
				<ee:transform doc:name="Transform Message" doc:id="2051ecb8-12c9-4ffe-9940-c071e6b63761" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Error Occurred...!!!!"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="c9bf3d1b-d9f5-4561-85b5-b0a3830a4371" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="postCharacter" doc:id="bf5d85d8-a298-4968-8fa0-65ff693c7ea0" >
		<db:insert doc:name="Insert" doc:id="a21c50a5-cc2f-41ef-8b4d-50f3eed1993f" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO comics VALUES(:id, :name, :universe, :ability, :team, :movies);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: payload.ID,
	name: payload.Name,
	universe: payload.Universe,
	ability: payload.Ability,
	team: payload.Team,
	movies: payload.Movies
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="0b7b3093-712c-4ddc-bc2b-7e7a5feee823" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Data Inserted Successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a4a62deb-b4fe-4a6c-be17-cdd3c61274bc" message="#[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="2df6c1aa-e139-4072-b390-1d9d36ae59af" >
				<ee:transform doc:name="Transform Message" doc:id="f743bdf4-e67d-4249-b7ab-f2bc5960a2f4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Data Already Present"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="32d6021f-7dc9-4734-9695-67b0456a9c85" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="updateCharacterByID" doc:id="6fcc976d-e481-4bb7-8a85-9486b0368016" >
		<db:update doc:name="Update" doc:id="0ce3e404-d098-4476-b92e-6b879e02b674" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE comics SET Name = :name, Universe = :universe, Ability = :ability, Team = :team, Movies = :movies WHERE ID = :id;
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: attributes.uriParams.ID,
	name: payload.Name,
	universe: payload.Universe,
	ability: payload.Ability,
	team: payload.Team,
	movies: payload.Movies
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="175f4377-4363-4c31-92f2-e2c1fff9d95f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Data Updated Successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9be3b7cb-a875-4a97-b14a-7f31a1c91d65" message="#[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="44b33332-d1cb-4786-b9a5-01cca3c32412" >
				<ee:transform doc:name="Transform Message" doc:id="dd370a05-0300-4c9f-8ba5-0f8ff5b9b355" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Can't Update. Error Occurred....!!!!"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="eab3971b-3583-44e6-ad30-091db0f9058e" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="deleteCharacterByID" doc:id="5f236486-aa5e-461c-8573-c8b7be79f4fd" >
		<db:delete doc:name="Delete" doc:id="4936088a-85d8-4f0d-a9f6-a8ce5d942601" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM comics WHERE ID = :id;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: attributes.uriParams.ID
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="2f65ff48-581c-49d8-83c9-d40e9dd787c5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Data Deleted Successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b8e6bc8d-27bf-49d0-be45-244353ffd97b" message="#[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="063103e9-f46f-487f-9d6d-a6b77710fb95" >
				<ee:transform doc:name="Transform Message" doc:id="6b7dc552-120d-4cce-9313-629cbcfedd1f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Can't Delete. Error Occurred....!!!!"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="ec46a6f8-3604-4208-b7df-565007fe003e" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>